.outer-div{
    text-align: center;
}

.input{
    margin-right: 30px;
    width: 600px;
    height: 30px;
}

.generate{
    height: 36px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    border: 0px;
    background-color: black;
    color: white;
}